* {
    -dark-green-color: #006664;
    -darker-green-color: #005250;
    -light-green-color: #b2bb1e;
    -dark-gray-color: #74787B;
    -light-gray-color: #e4e4e4;
    -white-color: #ffffff;
    -lighter-green-color: #00bf63;
    -light-red-color: #ff5757;
    -red-color: #e72b2b;
    -blue-color: #3a3aff;
    -black-color: #000000;
}

.dark-gray-background{
    -fx-background-color: -dark-gray-color;
}

.dark-green-background{
    -fx-background-color: -dark-green-color;
}

.light-gray-background{
    -fx-background-color: -light-gray-color;
}

.lighter-green-background{
    -fx-background-color: -lighter-green-color;
}

.light-red-background{
    -fx-background-color: -light-red-color;
}

.button-green{
    -fx-background-color: -dark-green-color;
    -fx-border-radius: 40;
    -fx-background-radius: 40;
    -fx-border-width: 0;
    -fx-text-fill: -white-color;
    -fx-background-insets: 0;
}

.button-green:hover{
    -fx-background-color: -darker-green-color;
}

.button-green:focused{
    -fx-background-color: -darker-green-color;
}

.button-red{
    -fx-background-color: -light-red-color;
    -fx-border-radius: 40;
    -fx-background-radius: 40;
    -fx-border-width: 0;
    -fx-text-fill: -white-color;
    -fx-background-insets: 0;
}

.button-red:hover{
    -fx-background-color: -red-color;
}

.button-red:focused{
    -fx-background-color: -red-color;
}

.my-scroll-pane {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
}

.my-list-item {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
}

.my-list-item:hover {
    -fx-background-color: #e4e4e4;
}